<header class="header">
  <h1>Shay's Personal File Uploader</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/upload">Upload</a>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    <a href="/logout">Logout</a>
    <a href="/users">Users</a>
  </nav>
</header>
