<section class="user user-homepage">
  <p>You are <strong> <%= currentUser.name %></strong></p>
  <p>Your email is <strong> <%= currentUser.email %></strong></p>
  <div class="user-homepage-buttons">
    <a href="/folders/create"><button>Create Folder</button></a>
    <a href="/folders"><button>View Folders</button></a>
    <a href="/folders/delete"><button>Delete Folders</button></a>
    <a href="/folders/rename"><button>Rename Folders</button></a>
    <a href="/files"><button>Files</button></a>
    <a href="/logout"><button>Logout</button></a>
  </div>
</section>
